<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="WasserWerkVerwaltung.GUI.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <userSettings>
        <WasserWerkVerwaltung.GUI.Properties.Settings>
            <setting name="TextZaeholerstandformular" serializeAs="String">
                <value>Wir bitten Sie, Ihren Wasserzähler innerhalb des Ablesezeitraumes (25.11.07 bis 
09.12.2007) abzulesen und den Zählerstand im unteren Feld einzutragen. 
Vergleichen Sie bitte die anderen Daten auf ihre Richtigkeit. 
Sollten Sie Hilfe beim Ablesen benötigen, stehen wir Ihnen gerne zur Verfügung. 
Tel: 07434/44398 oder 0676/620 32 38 Ing. Waltraud Weinberger-Hairas
Mit freundlichen Grüßen, Ihr Wasserwerk Weinberger
</value>
            </setting>
        </WasserWerkVerwaltung.GUI.Properties.Settings>
    </userSettings>
<startup><supportedRuntime version="v2.0.50727"/></startup></configuration>
